<div class="row">
  <mat-form-field class="col-6 offset-3" appearance="outline">
    <mat-label>Motion description</mat-label>
    <input #motionText matInput placeholder="What to do??" (keydown.enter)="addMotionHandler(motionText.value)" />
  </mat-form-field>
  <div class="col-2 pt-3">
    <button mat-button color="primary" [disabled]="(motions$ | async).length === 0 || !itemSelected"
      (click)="viewMotionHandler()">
      VIEW
    </button>
    <button mat-button color="warn" [disabled]="(motions$ | async).length === 0 || !itemSelected"
      (click)="completeMotionHandler()">
      COMPLETE
    </button>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-3">
    <div *ngIf="(motions$ | async).length === 0">
      <div class="text-center">
        <p>No motions added</p>
      </div>
    </div>
    <div *ngIf="(motions$ | async).length > 0">
      <mat-selection-list #items>
        <mat-list-option *ngFor="let item of motions$ | async" [selected]="item.selected"
          (click)="itemSelectedHandler(item)" [value]="item.id">{{ item.text }}</mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>
