<div class="row">
  <div class="col-md-5">
    <h2>Motions</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let motion of motions" (click)="selectMotion(motion)"
        [class.active]="motion === selectedMotion">
        {{motion.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewMotion()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-motion-details [motion]="selectedMotion" [createHandler]="addMotion" [updateHandler]="updateMotion"
      [deleteHandler]="deleteMotion">
    </app-motion-details>
  </div>
</div>
